<div id="adminpanel" name="adminpanel" class="adminpanel" style="display:grid; padding-right:11px; padding-bottom:11px; width:100%; border:2px none red;">
    <select id="userselector" name="userselector" style="display:grid; width:fit-content; background:black; color:pink; border:1px solid #B76E79; border-radius: 9px; padding:11px; font-size:13px;">
        <option value="Select User" style="text-align:left" selected>Select User</option>
    </select>
    <div id="displayuser" name="displayuser" class="displayuser" style="display:grid;border:2px none red;"></div>
    <br>
    <div style="display:flex; margin-bottom:0px;">
        <button class="buttonhover" style="width:100%; color:pink; border:2px solid #B76E79; border-radius:4px; padding:4px;">New User</button> &nbsp;
        <button class="buttonhover" style="width:100%; color:pink; border:2px solid #B76E79; border-radius:4px; padding:4px;">Save User</button> &nbsp;
        <button class="buttonhover" style="width:100%; color:pink; border:2px solid #B76E79; border-radius:4px; padding:4px;">Delete User</button> &nbsp;
    </div>
</div>
